---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.get?format=json&id=123&key=31644babd91732885c1b7962a39b02bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","header":{"timestamp":{"$t":"2017-09-26T02:37:48Z"},"status":{"message":{"$t":"shelter
        id 123 not found"},"code":{"$t":"201"}},"version":{"$t":"0.1"}},"@xsi:noNamespaceSchemaLocation":"http://api.petfinder.com/schemas/0.9/petfinder.xsd"}}'
  recorded_at: Tue, 26 Sep 2017 02:37:46 GMT
recorded_with: VCR 3.0.3
