---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/pet.get?format=json&id=38747365&key=31644babd91732885c1b7962a39b02bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"pet":{"options":{"option":[{"$t":"hasShots"},{"$t":"altered"}]},"status":{"$t":"A"},"contact":{"phone":{"$t":"719-748-1277"},"state":{"$t":"CO"},"address2":{},"email":{"$t":"newhoperescueinc@gmail.com"},"city":{"$t":"Colorado
        Springs"},"zip":{"$t":"80910"},"fax":{},"address1":{"$t":"111 south"}},"age":{"$t":"Adult"},"size":{"$t":"M"},"media":{"photos":{"photo":[{"@size":"pnt","$t":"http://photos.petfinder.com/photos/pets/38747365/1/?bust=1499922306&width=60&-pnt.jpg","@id":"1"},{"@size":"fpm","$t":"http://photos.petfinder.com/photos/pets/38747365/1/?bust=1499922306&width=95&-fpm.jpg","@id":"1"},{"@size":"x","$t":"http://photos.petfinder.com/photos/pets/38747365/1/?bust=1499922306&width=500&-x.jpg","@id":"1"},{"@size":"pn","$t":"http://photos.petfinder.com/photos/pets/38747365/1/?bust=1499922306&width=300&-pn.jpg","@id":"1"},{"@size":"t","$t":"http://p[...]
