---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.find?format=json&key=31644babd91732885c1b7962a39b02bd&location=33165
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","lastOffset":{"$t":"25"},"shelters":{"shelter":[{"country":{"$t":"US"},"longitude":{"$t":"-80.3575"},"name":{"$t":"Fairy
        Tails"},"phone":{"$t":"305-596-9694"},"state":{"$t":"FL"},"address2":{},"email":{"$t":"fairytailsorg@gmail.com"},"city":{"$t":"Miami"},"zip":{"$t":"33173"},"fax":{},"latitude":{"$t":"25.7011"},"id":{"$t":"FL611"},"address1":{}},{"country":{"$t":"US"},"longitude":{"$t":"-80.3575"},"name":{"$t":"One
        By One Dog Rescue, Inc."},"phone":{"$t":"305-321-4051  "},"state":{"$t":"FL"},"address2":{},"email":{"$t":"onebyonedogrescue@aol.com"},"city":{"$t":"Miami"},"zip":{"$t":"33173"},"fax":{},"latitude":{"$t":"25.7011"},"id":{"$t":"FL1185"},"address1":{}},{"country":{"$t":"US"},"longitude":{"$t":"-80.3076"},"name":{"$t":"Saving
        Paws 4 Love"},"phone":{"$t":"3058909310"},"state":{"$t":"FL"},"address2":{},"email":[...]
