---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.listByBreed?animal=dog&breed=Affenpinscher&format=json&key=31644babd91732885c1b7962a39b02bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","shelters":{"shelter":[{"country":{"$t":"US"},"longitude":{"$t":"-95.5205"},"name":{"$t":"National
        Brussels Griffon Rescue, Inc."},"phone":{},"state":{"$t":"TX"},"address2":{},"email":{"$t":"nbgrtexas@yahoo.com"},"city":{"$t":"Houston"},"zip":{"$t":"77024"},"fax":{},"latitude":{"$t":"29.7692"},"id":{"$t":"TX1278"},"address1":{}},{"country":{"$t":"US"},"longitude":{"$t":"-90.6996"},"name":{"$t":"NEA
        Humane Society"},"phone":{"$t":"(870) 932/5185"},"state":{"$t":"AR"},"address2":{},"email":{"$t":"margaret@neahs.org"},"city":{"$t":"Jonesboro"},"zip":{"$t":"72401"},"fax":{},"latitude":{"$t":"35.8213"},"id":{"$t":"AR128"},"address1":{"$t":"6111
        Highland Drive"}},{"country":{"$t":"US"},"longitude":{"$t":"-92.4622"},"name":{"$t":"Humane
        Society of Pulaski County"},"phone":{"$t":"(501) 227-6166"},"st[...]
