---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.listByBreed?animal=Dog&breed=PitBullTerrier&format=json&key=31644babd91732885c1b7962a39b02bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","header":{"timestamp":{"$t":"2017-09-29T23:59:10Z"},"status":{"message":{"$t":"invalid
        arguments"},"code":{"$t":"200"}},"version":{"$t":"0.1"}},"@xsi:noNamespaceSchemaLocation":"http://api.petfinder.com/schemas/0.9/petfinder.xsd"}}'
  recorded_at: Fri, 29 Sep 2017 23:59:10 GMT
recorded_with: VCR 3.0.3
