---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.get?format=json&id=FL54&key=31644babd91732885c1b7962a39b02bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","shelter":{"country":{"$t":"US"},"longitude":{"$t":"-80.2699"},"name":{"$t":"Buddies
        Thru Bullies - English Bulldog Rescue"},"phone":{"$t":"305 666 8870  "},"state":{"$t":"FL"},"address2":{},"email":{"$t":"BTBrescue@gmail.com"},"city":{"$t":"Miami"},"zip":{"$t":"33134"},"fax":{},"latitude":{"$t":"25.754"},"id":{"$t":"FL54"},"address1":{}},"header":{"timestamp":{"$t":"2017-09-24T23:38:20Z"},"status":{"message":{},"code":{"$t":"100"}},"version":{"$t":"0.1"}},"@xsi:noNamespaceSchemaLocation":"http://api.petfinder.com/schemas/0.9/petfinder.xsd"}}'
  recorded_at: Sun, 24 Sep 2017 23:38:20 GMT
- request:
    method: get
    uri: http://api.petfinder.com/shelter.getPets?format=json&id=FL54&key=31644babd91732885c1b7962a39b02bd&output=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","lastOffset":{"$t":"13"},"pets":{"pet":[{"options":{"option":[{"$t":"hasShots"},{"$t":"noKids"},{"$t":"altered"},{"$t":"noCats"}]},"breeds":{"breed":{"$t":"English
        Bulldog"}},"shelterPetId":{"$t":"Paco"},"status":{"$t":"A"},"name":{"$t":"Paco"},"contact":{"phone":{"$t":"305
        666 8870  "},"state":{"$t":"FL"},"address2":{},"email":{"$t":"BTBrescue@gmail.com"},"city":{"$t":"Miami"},"zip":{"$t":"33134"},"fax":{},"address1":{}},"sex":{"$t":"M"},"age":{"$t":"Senior"},"size":{"$t":"L"},"mix":{"$t":"no"},"shelterId":{"$t":"FL54"},"lastUpdate":{"$t":"2016-04-23T15:26:19Z"},"media":{"photos":{"photo":[{"@size":"pnt","$t":"http://photos.petfinder.com/photos/pets/25799435/1/?bust=1461425179&width=60&-pnt.jpg","@id":"1"},{"@size":"fpm","$t":"http://photos.petfinder.com/photos/pets/25799435/1/?bust=1461425179&width=95&-fpm.jpg","@id":"1"},{"@size":"x","$t":"http://photos.petfinder.com/photos/pets/25799435/1/?bust=1461425179&width=500&-x.jpg","@id":"1"},{"@size":"pn","$t":"http://photos.petfinder.com/photos/pets/25799435/1/?bust=1461425179&width=300&-pn.jpg","@id":"1"},{"@size":"t","$t":"http://photos.petfinder.com/photos/pets/25799435/1/?bust=1461425179&width=50&-t.jpg","@id":"1"},{"@size":"pnt","$t":"http://photos.petfinder.com/photos/pets/25799435/2/?bust=1461425179&width=60&-pnt.jpg","@id":"2"},{"@size":"fpm","$t":"http://photos.petfinder.com/photos/pets/25799435/2/?bust=1461425179&width=95&-fpm.jpg","@id":"2"},{"@size":"x","$t":"http://photos.petfinder.com/photos/pets/25799435/2/?bust=1461425179&width=500&-x.jpg","@id":"2"},{"@size":"pn","$t":"http://photos.petfinder.com/photos/pets/25799435/2/?bust=1461425179&width=300&-pn.jpg","@id":"2"},{"@size":"t","$t":"http://photos.petfinder.com/photos/pets/25799435/2/?bust=1461425179&width=50&-t.jpg","@id":"2"}]}},"id":{"$t":"25799435"},"animal":{"$t":"Dog"}},{"options":{"option":[{"$t":"hasShots"},{"$t":"noDogs"},{"$t":"altered"},{"$t":"noCats"}]},"breeds":{"breed":{"$t":"English
        Bulldog"}},"shelterPetId":{"$t":"Georgia II"},"status":{"$t":"A"},"name":{"$t":"Georgia"},"contact":{"phone":{"$t":"305
        666 8870  "},"state":{"$t":"FL"},"address2":{},"email":{"$t":"BTBrescue@gmail.com"},"city":{"$t":"Miami"},"zip":{"$t":"33134"},"fax":{},"address1":{}},"sex":{"$t":"F"},"age":{"$t":"Adult"},"size":{"$t":"M"},"mix":{"$t":"no"},"[...]
