---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.get?format=json&id=FL54&key=31644babd91732885c1b7962a39b02bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","shelter":{"country":{"$t":"US"},"longitude":{"$t":"-80.2699"},"name":{"$t":"Buddies
        Thru Bullies - English Bulldog Rescue"},"phone":{"$t":"305 666 8870  "},"state":{"$t":"FL"},"address2":{},"email":{"$t":"BTBrescue@gmail.com"},"city":{"$t":"Miami"},"zip":{"$t":"33134"},"fax":{},"latitude":{"$t":"25.754"},"id":{"$t":"FL54"},"address1":{}},"header":{"timestamp":{"$t":"2017-09-24T23:20:08Z"},"status":{"message":{},"code":{"$t":"100"}},"version":{"$t":"0.1"}},"@xsi:noNamespaceSchemaLocation":"http://api.petfinder.com/schemas/0.9/petfinder.xsd"}}'
  recorded_at: Sun, 24 Sep 2017 23:20:08 GMT
recorded_with: VCR 3.0.3
